Package: enLighted-system
Version: 3.6.0
Section: misc
Priority: optional
Architecture: all
Essential: no
Depends: 
Pre-Depends: 
Suggests: no
Maintainer: enLighted Inc [support@enlightedinc.com]
Provides: enLighted
Description: Upgrade system files required for Energy Management
