#########################################
# Title: master_cloud_DB1_setup.confg	#
# Description: location of the install \#
# scripts and config files for the\	#
# master_cloud_setup.sh script.		#
# EXAMPLE:				#
# <gather script>			#
# <source>				#
# <install script>			#
# <source>				#
# <config_file>=<source>		#
# NOTE: DO NOT ASSIGN VARIALBLE NAMES\	#
# WITH DOTS (.) OR YOU WILL SEE SOME \	#
# WEIRD EFFECTS ON YOUR SCRIPTS.	#
#########################################
src_dir=/tmp
## SCRIPTS ##
INSTALL_SCRIPT[0]=get_enlighted_source.sh
INSTALL_SCRIPT[1]=enlightedinstall.sh
INSTALL_SCRIPT[2]=psqlinstall.sh
## UTILS ##
UTILS[0]=$MASTER_OS_SRC/etc/enlighted/CA/scripts/getCertDates.sh
UTILS[1]=$MASTER_OS_SRC/etc/enlighted/CA/scripts/generateCAcert.sh
UTILS[2]=$MASTER_OS_SRC/etc/enlighted/CA/scripts/generateClientcert.sh
UTILS[3]=$MASTER_OS_SRC/etc/enlighted/CA/scripts/verifyCert.sh
UTILS[4]=$MASTER_OS_SRC/etc/enlighted/CA/scripts/revokeServerCert.sh
UTILS[5]=$MASTER_OS_SRC/etc/enlighted/CA/scripts/generateCRL.sh
UTILS[6]=$MASTER_OS_SRC/etc/enlighted/CA/scripts/testClient.sh
UTILS[7]=$MASTER_OS_SRC/etc/enlighted/CA/scripts/revokeClientCert.sh
UTILS[8]=$MASTER_OS_SRC/etc/enlighted/CA/scripts/regenerateClientcert.sh
UTILS[9]=$MASTER_OS_SRC/etc/enlighted/CA/scripts/generateServercert.sh
UTILS[10]=$MASTER_OS_SRC/etc/enlighted/CA/scripts/setup.sh
UTILS[11]=$MASTER_OS_SRC/etc/enlighted/CA/scripts/openssl.my.cnf
UTILS[12]=$MASTER_OS_SRC/etc/enlighted/CA/scripts/regenerateServercert.sh
UTILS[13]=$MASTER_OS_SRC/etc/enlighted/CA/scripts/makeCA.sh
UTILS[14]=$MASTER_OS_SRC/home/enlighted/utils/replicaservers.php
UTILS[15]=$MASTER_OS_SRC/home/enlighted/utils/monitoring/monitor_em.py
UTILS[16]=$MASTER_OS_SRC/home/enlighted/utils/monitoring/monitor_servers.py
UTILS[17]=$MASTER_OS_SRC/home/enlighted/utils/skipOrKillProcess.sh
UTILS[18]=$MASTER_OS_SRC/home/enlighted/utils/generateSPPACerts.php
UTILS[19]=$MASTER_OS_SRC/etc/logrotate.d/gencerts
#UTILS[20]=$MASSTER_OS_SRC/var/spool/cron/crontabs/enlighted
## PSQL ##
SQL_FILE=$MASTER_OS_SRC/ecloud_upgrade.sql
