Package: enLighted-uem-communicator
Version: 3.4.0
Section: misc
Priority: optional
Architecture: all
Essential: no
Depends:
Replaces: 
Suggests: no
Maintainer: enLighted Inc [support@enlightedinc.com]
Provides: enLighted
Description: enLighted uem communicator upgrade utility
