Package: enlighted-all
Version: 3.5.4
Section: misc
Priority: optional
Architecture: all
Essential: no
Depends:
Pre-Depends:
Suggests: no
Maintainer:  enLighted Inc [support@enlightedinc.com]
Provides: enLighted
Description: enLighted all components
