Package: enLighted-em-mgmt
Version: 3.6.1
Section: misc
Priority: optional
Architecture: all
Essential: no
Depends: 
Pre-Depends: 
Suggests: no
Maintainer: enLighted Inc [support@enlightedinc.com]
Provides: enLighted
Description: Manages backup, restore and upgrade of EM 
