SRC_DIR=/tmp
INSTALL_SCRIPT[0]=get_apache2_source.sh
INSTALL_SCRIPT[1]=apache2install.sh
INSTALL_SCRIPT[2]=get_dhcp_source.sh
INSTALL_SCRIPT[3]=dhcpinstall.sh
INSTALL_SCRIPT[4]=get_tftp_source.sh
INSTALL_SCRIPT[5]=tftpinstall.sh
INSTALL_SCRIPT[6]=user_setup.sh
INSTALL_SCRIPT[7]=get_sudoers_source.sh
INSTALL_SCRIPT[8]=sudoers.sh
UserAccts='ops'
Ops_group='ops'
TFTP[0]=$PXESRC/etc/default/tftpd-hpa
TFTPO[0]=root:root
TFTPP[0]=0644
TFTP[1]=$PXESRC/etc/inetd.conf
TFTPO[1]=root:root
TFTPP[1]=0644
TFTP[2]=$PXESRC/var/lib/tftpboot/ubuntu-installer/amd64/pxelinux.cfg/default
TFTPO[2]=root:root
TFTPP[2]=0644
TFTP[3]=$PXESRC/var/lib/tftpboot/pxelinux.0
TFTPO[3]=root:root
TFTPP[3]=0644
TFTP[4]=$PXESRC/var/lib/tftpboot/ubuntu-installer/amd64/pxelinux.0
TFTPO[4]=root:root
TFTPP[4]=0644
TFTP[5]=$PXESRC/var/lib/tftpboot/ubuntu-installer/amd64/boot-screens/f9.txt
TFTPO[5]=root:root
TFTPP[5]=0644
TFTP[6]=$PXESRC/var/lib/tftpboot/ubuntu-installer/amd64/boot-screens/f3.txt
TFTPO[6]=root:root
TFTPP[6]=0644
TFTP[7]=$PXESRC/var/lib/tftpboot/ubuntu-installer/amd64/boot-screens/f8.txt
TFTPO[7]=root:root
TFTPP[7]=0644
TFTP[8]=$PXESRC/var/lib/tftpboot/ubuntu-installer/amd64/boot-screens/exithelp.cfg
TFTPO[8]=root:root
TFTPP[8]=0644
TFTP[9]=$PXESRC/var/lib/tftpboot/ubuntu-installer/amd64/boot-screens/f5.txt
TFTPO[9]=root:root
TFTPP[9]=0644
TFTP[10]=$PXESRC/var/lib/tftpboot/ubuntu-installer/amd64/boot-screens/syslinux.cfg
TFTPO[10]=root:root
TFTPP[10]=0644
TFTP[11]=$PXESRC/var/lib/tftpboot/ubuntu-installer/amd64/boot-screens/menu.cfg
TFTPO[11]=root:root
TFTPP[11]=0644
TFTP[12]=$PXESRC/var/lib/tftpboot/ubuntu-installer/amd64/boot-screens/ldlinux.c32
TFTPO[12]=root:root
TFTPP[12]=0644
TFTP[13]=$PXESRC/var/lib/tftpboot/ubuntu-installer/amd64/boot-screens/prompt.cfg
TFTPO[13]=root:root
TFTPP[13]=0644
TFTP[14]=$PXESRC/var/lib/tftpboot/ubuntu-installer/amd64/boot-screens/f7.txt
TFTPO[14]=root:root
TFTPP[14]=0644
TFTP[15]=$PXESRC/var/lib/tftpboot/ubuntu-installer/amd64/boot-screens/rqtxt.cfg
TFTPO[15]=root:root
TFTPP[15]=0644
TFTP[16]=$PXESRC/var/lib/tftpboot/ubuntu-installer/amd64/boot-screens/libcom32.c32
TFTPO[16]=root:root
TFTPP[16]=0644
TFTP[17]=$PXESRC/var/lib/tftpboot/ubuntu-installer/amd64/boot-screens/f6.txt
TFTPO[17]=root:root
TFTPP[17]=0644
TFTP[18]=$PXESRC/var/lib/tftpboot/ubuntu-installer/amd64/boot-screens/f4.txt
TFTPO[18]=root:root
TFTPP[18]=0644
TFTP[19]=$PXESRC/var/lib/tftpboot/ubuntu-installer/amd64/boot-screens/splash.png
TFTPO[19]=root:root
TFTPP[19]=0644
TFTP[20]=$PXESRC/var/lib/tftpboot/ubuntu-installer/amd64/boot-screens/f2.txt
TFTPO[20]=root:root
TFTPP[20]=0644
TFTP[21]=$PXESRC/var/lib/tftpboot/ubuntu-installer/amd64/boot-screens/vesamenu.c32
TFTPO[21]=root:root
TFTPP[21]=0644
TFTP[22]=$PXESRC/var/lib/tftpboot/ubuntu-installer/amd64/boot-screens/stdmenu.cfg
TFTPO[22]=root:root
TFTPP[22]=0644
TFTP[23]=$PXESRC/var/lib/tftpboot/ubuntu-installer/amd64/boot-screens/f10.txt
TFTPO[23]=root:root
TFTPP[23]=0644
TFTP[24]=$PXESRC/var/lib/tftpboot/ubuntu-installer/amd64/boot-screens/libutil.c32
TFTPO[24]=root:root
TFTPP[24]=0644
TFTP[25]=$PXESRC/var/lib/tftpboot/ubuntu-installer/amd64/boot-screens/f1.txt
TFTPO[25]=root:root
TFTPP[25]=0644
TFTP[26]=$PXESRC/var/lib/tftpboot/ubuntu-installer/amd64/boot-screens/adtxt.cfg
TFTPO[26]=root:root
TFTPP[26]=0644
TFTP[27]=$PXESRC/var/lib/tftpboot/ubuntu-installer/amd64/boot-screens/txt.cfg
TFTPO[27]=root:root
TFTPP[27]=0644
TFTP[28]=$PXESRC/var/lib/tftpboot/ubuntu-installer/amd64/linux
TFTPO[28]=root:root
TFTPP[28]=0644
TFTP[29]=$PXESRC/var/lib/tftpboot/ubuntu-installer/amd64/initrd.gz
TFTPO[29]=root:root
TFTPP[29]=0644
TFTP[30]=$PXESRC/var/lib/tftpboot/ubuntu-installer/amd64/pxelinux.cfg/default
TFTPO[30]=root:root
TFTPP[30]=0644
TFTP[31]=$PXESRC/var/lib/tftpboot/ldlinux.c32
TFTPO[31]=root:root
TFTPP[31]=0644
TFTP[32]=$PXESRC/var/lib/tftpboot/ubuntu/16.04_initrd.gz
TFTPO[32]=root:root
TFTPP[32]=0644
TFTP[33]=$PXESRC/var/lib/tftpboot/ubuntu/10.04_initrd.gz
TFTPO[33]=root:root
TFTPP[33]=0644
TFTP[34]=$PXESRC/var/lib/tftpboot/ubuntu/14.04_initrd.gz
TFTPO[34]=root:root
TFTPP[34]=0644
TFTP[35]=$PXESRC/var/lib/tftpboot/pxelinux.cfg/default
TFTPO[35]=root:root
TFTPP[35]=0644
TFTP[36]=$PXESRC/var/lib/tftpboot/version.info
TFTPO[36]=root:root
TFTPP[36]=0644
TFTP[37]=$PXESRC/var/lib/tftpboot/ubuntu/16.04_linux
TFTPO[37]=root:root
TFTPP[37]=0644
TFTP[38]=$PXESRC/var/lib/tftpboot/ubuntu/10.04_linux
TFTPO[38]=root:root
TFTPP[38]=0644
TFTP[39]=$PXESRC/var/lib/tftpboot/ubuntu/14.04_linux
TFTPO[39]=root:root
TFTPP[39]=0644
DHCP[0]=$PXESRC/etc/dhcp/dhcpd.conf
DHCPO[0]=root:root
DHCPP[0]=0644
A2[0]=$PXESRC/etc/apache2/sites-available/000-default.conf
AO[0]=root:root
AP[0]=0644
A2[1]=$PXESRC/etc/apache2/sites-available/default-ssl.conf
AO[1]=root:root
AP[1]=0644
A2[2]=$PXESRC/var/www/10.04.ks.cfg
AO[2]=root:root
AP[2]=0644
A2[3]=$PXESRC/var/www/14.04.ks.cfg
AO[3]=root:root
AP[3]=0644
A2[4]=$PXESRC/var/www/16.04.ks.cfg
AO[4]=root:root
AP[4]=0644
A2[5]=$PXESRC/var/www/rd_key
AO[5]=root:root
AP[5]=0644
ISO_DIR=/opt/isoinstaller
UBUNTU[0]=http://releases.ubuntu.com/14.04/ubuntu-14.04.4-server-amd64.iso
UBUNTU[1]=http://old-releases.ubuntu.com/releases/10.04.0/ubuntu-10.04.4-server-amd64.iso
UBUNTU[2]=http://releases.ubuntu.com/16.04/ubuntu-16.04-server-amd64.iso
SUDOERS[0]=$SECURITY_SRC/etc/sudoers.d/ops
SUDOERSP[0]=440
SUDOERSO[0]=root:root
