Package: enLighted-gems
Version: 3.6.0
Section: misc
Priority: optional
Architecture: all
Essential: no
Maintainer: enLighted Inc [support@enlightedinc.com]
Provides: enLighted
Description: enLighted EM
