Package: enlighted-all
Version: 3.3.1
Section: misc
Priority: optional
Architecture: all
Essential: no
Depends: 
Suggests: no
Maintainer:  enLighted Inc [support@enlightedinc.com]
Provides: enLighted
Description: enLighted all components
