#########################################
# Title: master_cloud_setup.confg	#
# Description: location of the install \#
# scripts and config files for the\	#
# master_cloud_setup.sh script.		#
# EXAMPLE:				#
# <gather script>			#
# <source>				#
# <install script>			#
# <source>				#
# <config_file>=<source>		#
# NOTE: DO NOT ASSIGN VARIALBLE NAMES\	#
# WITH DOTS (.) OR YOU WILL SEE SOME \	#
# WEIRD EFFECTS ON YOUR SCRIPTS.	#
#########################################
src_dir=/tmp
## INSTALL_SCRIPT ##
INSTALL_SCRIPT[0]=get_apache2_source.sh
INSTALL_SCRIPT[1]=apache2install.sh
INSTALL_SCRIPT[2]=get_tomcat6_source.sh
INSTALL_SCRIPT[3]=tomcat6install.sh
## TOMCAT6 ##
TC6[0]=$MASTER_OS_SRC/var/lib/tomcat6/webapps/ecloud.war
## APACHE2 ##
A2[0]=$MASTER_OS_SRC/home/enlighted/000-default-apps
A2[1]=$MASTER_OS_SRC/home/enlighted/000-default-em-new
