{% extends "pages/layouts/mainLayout.html" %}

{% load i18n %}

{% load customtemplatetags %}

{% block body %}

<script type="text/javascript"> 

$().ready(function(){
			$("#changepasswordForm").validate({
				rules: {
					newpassword: {
						required: true,
					},
					confirmpassword:{
						required: true,
						equalTo: "#newpassword",
					}
				},
				messages: {
					newpassword: {
						required: 'Field is required',
					},
					confirmpassword: {
						required: 'Field is required',
						equalTo: 'New password and Confirm password should be same.', 
					},
					
				}
				
			});
			
			{% if savestatus == "S" %}
			$("#savestatus").css("color", "green");
			$("#savestatus").html("Password changed successfully.");

	        {% endif %}
	        
	        {% if savestatus == "F" %}
	        $("#savestatus").css("color", "red");
			$("#savestatus").html("Change password was not successful due to internal error. Please try again.");
	         
	        {% endif %}
	        
	        
	        $(".outermostdiv").css("minHeight", $(window).height() - 85);
	        
});
function resetPassword(){
	setChangePasswordMessage("", "black");
	var isValid = $('#changepasswordForm').valid();		
	if(isValid){
	
		var newPasswordStr = $("#newpassword").val();
		if(newPasswordStr.indexOf(' ') > -1){
			$("#np_error_msg").text("Space character is not allowed.");
			$("#newpassword").addClass("invalidField");
			return false;
		} else {
			$("#np_error_msg").text("");
			$("#newpassword").removeClass("invalidField");
		}
		
		var confirmPasswordStr = $("#confirmpassword").val();
		if(confirmPasswordStr.indexOf(' ') > -1){
			$("#cp_error_msg").text("Space character is not allowed.");
			$("#confirmpassword").addClass("invalidField");
			return false;
		} else {
			$("#cp_error_msg").text("");
			$("#confirmpassword").removeClass("invalidField");
		}
		
		var confirmpassword = encodeURIComponent($('#confirmpassword').val());
		var newPassword = encodeURIComponent($('#newpassword').val());
		
		$('#changepasswordForm').submit();
	}
}
function setChangePasswordMessage(msg, color){
	$("#ucp-message-div").css("color", color);
	$("#ucp-message-div").html(msg);
}
</script>

<div class="pgset">
<div class="outermostdiv">
	<div class="outerContainer">
		<div class="i1"></div>
    	<div style="margin-top: 15px; width:100%;">
			<fieldset style="padding: 10px;font-weight:normal;font-size: 1em;">
			<legend style="font-weight: bold">{% trans "change.password.text" %}</legend>
			<form id="changepasswordForm" action="{{ STATIC_URL }}changepassword/" method="post">	
			{% csrf_token %}
			<table cellspacing="10px">
				<tr>
				<td colspan=2>
					<div id="ucp-message-div"></div>
				</td>
				</tr>
				<tr>
					<td class="formPrompt" style="font-weight:normal;font-size: 1em;">{% trans "new.password.text" %}</td>
					<td class="formValue"><input id="newpassword" type="password" path="newpassword" name="newpassword" class="biginput" /><span id="np_error_msg" class="error"></span></td>
					
				</tr>
				<tr>
					<td class="formPrompt" style="font-weight:normal;font-size: 1em;">{% trans "confirm.password.text" %}</td>
					<td class="formValue"><input id="confirmpassword" type="password" path="confirmpassword" name="confirmpassword" class="biginput" /><span id="cp_error_msg" class="error"></span></td>
					
				</tr>
				<tr>
					<td class="formPrompt"><span></span></td>
					<td class="formValue"><input style="display: inline; margin-right: 10px;" id="savePasswordBtn" type="button"
						value="Submit" onclick="resetPassword();" /><span id="savestatus" style="font-size: 1.1em; display: inline"></span></td>
				</tr>
				
			</table>
			</form>	
			<div>
			</div>
			</fieldset>
			</div>
		</div>
	</div>
</div>

{% endblock %}

