#########################################
# Title: master_cloud_setup.confg	#
# Description: location of the install \#
# scripts and config files for the\	#
# master_cloud_setup.sh script.		#
# EXAMPLE:				#
# <gather script>			#
# <source>				#
# <install script>			#
# <source>				#
# <config_file>=<source>		#
# NOTE: DO NOT ASSIGN VARIALBLE NAMES\	#
# WITH DOTS (.) OR YOU WILL SEE SOME \	#
# WEIRD EFFECTS ON YOUR SCRIPTS.	#
#########################################
src_dir=/tmp
## INSTALL_SCRIPT ##
INSTALL_SCRIPT[0]=user_setup.sh
INSTALL_SCRIPT[1]=get_apache2_source.sh
INSTALL_SCRIPT[2]=apache2install.sh
INSTALL_SCRIPT[3]=get_tomcat6_source.sh
INSTALL_SCRIPT[4]=tomcat6install.sh 
INSTALL_SCRIPT[5]=get_ssh_source.sh
INSTALL_SCRIPT[6]=sshinstall.sh
INSTALL_SCRIPT[7]=get_kernel_source.sh
INSTALL_SCRIPT[8]=kernelinstall.sh
INSTALL_SCRIPT[9]=get_audit_source.sh
INSTALL_SCRIPT[10]=auditinstall.sh
INSTALL_SCRIPT[11]=get_logrotate_source.sh
INSTALL_SCRIPT[12]=logrotateinstall.sh
INSTALL_SCRIPT[13]=get_rsyslog_source.sh
INSTALL_SCRIPT[14]=rsysloginstall.sh
INSTALL_SCRIPT[15]=get_sudoers_source.sh
INSTALL_SCRIPT[16]=sudoers.sh
INSTALL_SCRIPT[17]=get_billing_source.sh
INSTALL_SCRIPT[18]=billinginstall.sh
## TOMCAT6
TC6[0]=$MASTER_OS_SRC/var/lib/tomcat6/webapps/ecloud.war
TCO[0]=root:root
TCP[0]=0644
TC6[1]=$MASTER_OS_SRC/var/lib/tomcat6/Enlighted/connection_config.properties
TCO[1]=tomcat6:tomcat6
TCP[1]=0644
TC6[2]=$MASTER_OS_SRC/var/lib/tomcat6/webapps/ROOT/index.html
TCO[2]=tomcat6:tomcat6
TCP[2]=0644
TC6[3]=$MASTER_OS_SRC/var/lib/tomcat6/conf/context.xml
TCO[3]=root:tomcat6
TCP[3]=0644
TC6[4]=$MASTER_OS_SRC/etc/logrotate.d/tomcat6.logrotate
TCO[4]=root:root
TCP[4]=644
TC6[5]=$MASTER_OS_SRC/etc/default/tomcat6
TCO[5]=root:root
TCP[5]=644
TC6[6]=$MASTER_OS_SRC/usr/share/tomcat6/bin/catalina.sh
TCO[6]=root:root
TCP[6]=755
TC6[7]=$MASTER_OS_SRC/etc/tomcat6/server.xml
TCO[7]=root:root
TCP[7]=644
TC6[8]=$MASTER_OS_SRC/home/enlighted/000-default-em
TCO[8]=tomcat6:tomcat6
TCP[8]=644
## APACHE2
A2[0]=$MASTER_OS_SRC/etc/apache2/sites-available/default
AO[0]=root:root
AP[0]=644
A2[1]=$MASTER_OS_SRC/etc/apache2/sites-enabled/000-default-uem
AO[1]=root:root
AP[1]=644
## SSH ##
SSHARRAY[0]="$MASTER_OS_SRC/etc/ssh/sshd_config"
SSHOWNER[0]="root:root"
SSHPERMISSIONS[0]="644"
SSHARRAY[1]="$MASTER_OS_SRC/etc/ssh/ssh_config"
SSHOWNER[1]="root:root"
SSHPERMISSIONS[1]="644"
SSHARRAY[2]="$MASTER_OS_SRC/etc/ssh/ssh_host_dsa_key.pub"
SSHOWNER[2]="root:root"
SSHPERMISSIONS[2]="644"
SSHARRAY[3]="$MASTER_OS_SRC/etc/ssh/ssh_host_rsa_key.pub"
SSHOWNER[3]="root:root"
SSHPERMISSIONS[3]="644"
SSHARRAY[4]="$MASTER_OS_SRC/etc/ssh/moduli"
SSHOWNER[4]="root:root"
SSHPERMISSIONS[4]="644"
SSHARRAY[5]="$MASTER_OS_SRC/home/enlighted/.ssh/authorized_keys"
SSHOWNER[5]="enlighted:enlighted"
SSHPERMISSIONS[5]="600"
SSHARRAY[6]="$MASTER_OS_SRC/etc/ssh/ssh_host_dsa_key"
SSHOWNER[6]="root:root"
SSHPERMISSIONS[6]="600"
SSHARRAY[7]="$MASTER_OS_SRC/etc/ssh/ssh_host_rsa_key"
SSHOWNER[7]="root:root"
SSHPERMISSIONS[7]="600"
## KERNEL ##
KERNEL[0]=$SECURITY_SRC/etc/sysctl.conf
KERNELO[0]=root:root
KERNELP[0]=644
## Audit ##
AUDIT[0]=$SECURITY_SRC/etc/audit/auditd.conf
AUDITO[0]=root:root
AUDITP[0]=640
AUDIT[1]=$SECURITY_SRC/etc/audit/audit.rules
AUDITO[1]=root:root
AUDITP[1]=640
## LOGROTATE ##
LOGROTATE[0]=$MASTER_OS_SRC/etc/logrotate.d/apache2
LOGROTATE[1]=$MASTER_OS_SRC/etc/logrotate.d/rsyslog
LOGROTATE[2]=$MASTER_OS_SRC/etc/logrotate.d/ufw
## RSYSLOG ##
RSYSLOG[0]=$MASTER_OS_SRC/etc/rsyslog.d/bash.conf
RSYSLOGP[0]=644
RSYSLOGO[0]=root:root
RSYSLOG[1]=$MASTER_OS_SRC/etc/bash.bashrc
RSYSLOGP[1]=644
RSYSLOGO[1]=root:root
## APT ##
APT[0]=$MASTER_OS_SRC/etc/apt/sources.list
APTO[0]=root:root
APTP[0]=644
## ENL CA ##
ENLCADIR=/etc/enlighted/CA/ssl
ENLCADIRP=0755
ENLCADIRO=enlighted:enlighted
## BILLING ##
BILLING[0]=opt/ssp/generate_occy_based_bill2.pl
BILLING[1]=opt/ssp/generate_occy_hack.pl
BILLING[2]=opt/ssp/generate_occy_based_bill_fast.pl
BILLING[3]=opt/ssp/generate_occy_based_bill.pl
BILLING[4]=opt/ssp/lib/CaptureTime.pm
BILLING[5]=opt/ssp/lib/EmReplica.pm
BILLING[6]=opt/ssp/lib/DB.pm
BILLING[7]=opt/ssp/lib/EmReplica2.pm
BILLING[8]=opt/ssp/lib/Clarizen.pm
BILLING[9]=opt/ssp/lib/SiteData.pm
BILLING[10]=opt/ssp/lib/Emscloud.pm
BILLING[11]=opt/ssp/lib/val.pm
BILLING[12]=opt/ssp/portfolio.pm
BILLING[13]=opt/ssp/check_site_performance.pl
BILLING[14]=opt/ssp/maxcapture.pl
## BILLING PACKAGES ##
BP='libnet-daemon-perl libplrpc-perl libdbi-perl libclass-singleton-perl liblist-moreutils-perl libparams-validate-perl libdatetime-locale-perl libdatetime-timezone-perl libdatetime-perl libdbd-pg-perl'
## USER ##
UserAccts='enlighted ops rgabriana ppham long qfinck'
Ops_group='rgabriana ppham long qfinck'
## SUDOERS ##
SUDOERS[0]=$SECURITY_SRC/etc/sudoers.d/ops
SUDOERSP[0]=440
SUDOERSO[0]=root:root
