Package: enLighted-uem-communicator
Version: 3.1.10
Section: misc
Priority: optional
Architecture: i386
Essential: no
Depends:
Replaces: 
Pre-Depends: libxml2
Suggests: no
Maintainer: enLighted Inc [support@enlightedinc.com]
Provides: enLighted
Description: enLighted uem communicator upgrade utility
