Package: enLighted-cloud-communicator
Version: 3.6.0
Section: misc
Priority: optional
Architecture: all
Essential: no
Depends:
Replaces: 
Suggests: no
Maintainer: enLighted Inc [support@enlightedinc.com]
Provides: enLighted
Description: enLighted cloud communicator upgrqade utility
