@namespace s "library://ns.adobe.com/flex/spark"; 
@namespace mx "library://ns.adobe.com/flex/mx";

.alertBox
{
	background-color : #F9EDBE;
	padding-left : 10;
	padding-right : 10;
	font-size : 13;
	font-weight : bold;
	color : #000000;
}

.pinBox
{
	horizontal-align :right;
	background-color : #999999;
	border-style : solid;
	padding-bottom : 3;
	padding-left : 3;
	padding-right : 3;
	padding-top : 3;
}

.slidingToolsWindow
{
	horizontal-align : center;
	border-style : solid;
	background-color : #CCCCCC;
}

PanComponent
{

	background-color : #FFFFFF;
	border-color : #000000;
	border-style : solid;
}