Package: enLighted-em-mgmt
Version: 3.1.10
Section: misc
Priority: optional
Architecture: all
Essential: no
Depends: tomcat6
Pre-Depends: libxml2
Suggests: no
Maintainer: enLighted Inc [support@enlightedinc.com]
Provides: enLighted
Description: Manages backup, restore and upgrade of EM 
