Package: enLighted-gems
Version: 3.5.0
Section: misc
Priority: optional
Architecture: i386
Essential: no
Depends: tomcat6
Pre-Depends: libxml2
Suggests: no
Maintainer: enLighted Inc [support@enlightedinc.com]
Provides: enLighted
Description: enLighted EM
