Package: enLighted-gems
Version: 3.2.2
Section: misc
Priority: optional
Architecture: all
Essential: no
Maintainer: enLighted Inc [support@enlightedinc.com]
Provides: enLighted
Description: enLighted EM
