Package: enLighted-gems
Version: 3.4.1
Section: misc
Priority: optional
Architecture: all
Essential: no
Depends: tomcat6
Suggests: no
Maintainer: enLighted Inc [support@enlightedinc.com]
Provides: enLighted
Description: enLighted EM
