Package: enLighted-system
Version: 3.1.2 
Section: misc
Priority: optional
Architecture: amd64
Essential: no
Depends: 
Suggests: no
Maintainer: enLighted Inc [support@enlightedinc.com]
Provides: enLighted
Description: Upgrade system files required for Enlighted Cloud Solution
