Package: enLighted-em-mgmt
Version: 3.5.3
Section: misc
Priority: optional
Architecture: all
Essential: no
Depends: 
Suggests: no
Maintainer: enLighted Inc [support@enlightedinc.com]
Provides: enLighted
Description: Manages backup, restore and upgrade of EM 
